In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn import svm
from sklearn.model_selection import train_test_split
import joblib

In [2]:
# read in the dataset
df = pd.read_csv('./agile_dataset/agile_dataset.csv')

# take a look at the data
df.head()

   Effort   Vi      D    V  Sprint Size  Work Days  Act:Time
0     156  4.2  0.687  2.7           10         22        63
1     202  3.7  0.701  2.5           10         21        92
2     173  4.0  0.878  3.3           10         22        56
3     331  4.5  0.886  3.8           10         22        86
4     124  4.9  0.903  4.2           10         22        32

In [3]:
# split data into inputs and targets 
x = df.drop(columns= ['Act:Time'])
y = df['Act:Time']

x.head()

   Effort   Vi      D    V  Sprint Size  Work Days
0     156  4.2  0.687  2.7           10         22
1     202  3.7  0.701  2.5           10         21
2     173  4.0  0.878  3.3           10         22
3     331  4.5  0.886  3.8           10         22
4     124  4.9  0.903  4.2           10         22

In [4]:
# split data for testing and training 
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [5]:
MMRE_list = []
for i in np.arange(1,7):
    clf = RandomForestRegressor(n_estimators=30,max_features=i)
    clf.fit(X_train, y_train)
    Y_pred = clf.predict(X_test)
    diff = np.absolute(y_test-Y_pred)
    MRE = diff/y_test
    MMRE = np.mean(MRE)
    MMRE_list.append(MMRE)

In [6]:
# Display accuracy for all range of features
MMRE_list

[0.3466713307396538,
 0.31841736722559705,
 0.2890012611324723,
 0.17002026944185328,
 0.1822832880829775,
 0.12450629871049126]

In [7]:
filename = "agile_trained_model.joblib"
joblib.dump(clf, filename)

['agile_trained_model.joblib']